:root {
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  font-weight: 900;
  background-color: h#ffffff;
}

body {
  background-image: url(assets/geologySlide.png);
  background-repeat: repeat;
  background-size: 150px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
